{{#section 'script'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src=" https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.19/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.19/plugin/customParseFormat.js"></script>
<script>
    // dayjs
    dayjs.extend(window.dayjs_plugin_customParseFormat);

    // cleave
    new Cleave('#cardNum', {
        creditCard: true,
    });

    new Cleave('#expireDate', {
        date: true,
        dateMin: '2000-01-01',
        dateMax: '2099-12-31',
        datePattern: ['Y', 'm', 'd']
    });

    new Cleave('#cvvNum', {
        blocks: [3],
        numericOnly: true
    });

    // modal
    document.querySelector('#paymentModal').addEventListener('hidden.bs.modal', e => {
        document.querySelector('#cardNum').value = "";
        document.querySelector('#expireDate').value = "";
        document.querySelector('#cvvNum').value = "";
        document.querySelector('#address').value = "";
    });

    // submit
    const formCancel = document.querySelector('#formCancel');
    if (formCancel) {
        formCancel.addEventListener('submit', e => {
            e.preventDefault();

            document.querySelector('#confirmCancelBtn').addEventListener('click', e => {
                formCancel.submit();
            })
        });
    }

    document.querySelector("#formMsg").addEventListener('submit', e => {
        e.preventDefault();

        const content = document.querySelector("#msgTextArea").value;
        if (!content) {
            Swal.fire({
                icon: "info",
                text: "Vui lòng nhập tin nhắn trước khi gửi.",
            });
            return;
        }

        e.target.submit();
    });

    document.querySelector('#paymentForm').addEventListener('submit', e => {
        e.preventDefault();

        const expireDate = document.querySelector("#expireDate").value;
        if (!dayjs(expireDate, 'YYYY/MM/DD', true).isValid()) {
            Swal.fire({
                icon: "info",
                text: "Vui lòng nhập đúng định dạng ngày hết hạn thẻ theo hướng dẫn.",
            });
            return;
        }

        const cvvNum = document.querySelector("#cvvNum").value;
        if (cvvNum.length != 3) {
            Swal.fire({
                icon: "info",
                text: "Vui lòng nhập đúng định dạng CVV theo hướng dẫn.",
            });
            return;
        }

        e.target.submit();
    })

</script>
{{/section}}

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header fw-semibold fs-5">Trạng thái đơn hàng</div>
                <div class="card-body">
                    <p class="card-text">
                        {{#if transaction.is_canceled}}
                        <span class="text-danger fw-bold">Giao dịch đã bị huỷ</span>
                        {{else}}
                        {{transaction.payment_status}}
                        {{#if (eqString transaction.payment_status 'Chờ thanh toán')}}
                        <i class="bi bi-circle-fill text-warning"></i>
                        {{else}}
                        <i class="bi bi-circle-fill text-success"></i>
                        {{/if}}
                    </p>
                    {{/if}}
                </div>
                <div class="card-footer">
                    {{#unless transaction.is_canceled}}
                    {{#if is_seller}}
                        {{#if (eqString transaction.payment_status 'Đã thanh toán')}}
                        <form action="/transaction/{{transaction.product_id}}/update" method="post">
                            <input type="hidden" name="txnId" value="{{transaction.transaction_id}}">
                            <input type="hidden" name="status" value="Đã nhận tiền">
                            <button type="submit" class="btn btn-primary float-end mb-3 me-3">Xác nhận đã nhận tiền</button>
                        </form>
                        {{/if}}

                        {{#if (eqString transaction.payment_status 'Chờ thanh toán')}}
                        <form id="formCancel" action="/transaction/{{transaction.product_id}}/cancel" method="post">
                            <input type="hidden" name="txnId" value="{{transaction.transaction_id}}">
                            <input type="hidden" name="sender" value="{{transaction.seller_id}}">
                            <input type="hidden" name="receiver" value="{{transaction.buyer_id}}">
                            <button type="submit" class="btn btn-outline-danger float-end" data-bs-toggle="modal"
                                data-bs-target="#confirmCancel">Huỷ giao dịch</button>
                        </form>
                        {{/if}}
                    {{else}}
                        {{#if (eqString transaction.payment_status 'Đã nhận tiền')}}
                        <form action="/transaction/{{transaction.product_id}}/update" method="post">
                            <input type="hidden" name="txnId" value="{{transaction.transaction_id}}">
                            <input type="hidden" name="status" value="Giao dịch hoàn tất">
                            <button type="submit" class="btn btn-primary float-end">Xác nhận đã nhận hàng</button>
                        </form>
                        {{/if}}

                        {{#if (eqString transaction.payment_status 'Chờ thanh toán')}}
                        <button type="button" class="btn btn-primary float-end"
                        data-bs-toggle="modal" data-bs-target="#paymentModal">Thanh toán giao dịch</button>
                        {{/if}}
                    {{/if}}
                    {{#if (eqString transaction.payment_status 'Giao dịch hoàn tất')}}
                    <button type="button" class="btn btn-primary float-end"
                        data-bs-toggle="modal" data-bs-target="#reviewModal">Đánh giá &amp; Nhận xét</button>
                    {{/if}}

                    {{#if (eqString transaction.payment_status 'Đã thanh toán')}}
                    <button type="button" class="btn btn-primary float-end mb-3 me-3"
                        data-bs-toggle="collapse" data-bs-target="#paymentDetailCollapse" 
                        aria-expanded="false" aria-controls="paymentDetailCollapse">Xem hóa đơn và địa chỉ</button>
                    {{/if}}
                    {{/unless}}
                </div>
            </div>

            <div class="collapse" id="paymentDetailCollapse">
                <div class="card card-body">
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="fw-semibold mb-0">Hóa đơn: </h5>
                        <a href="#" class="icon-link"><i class="bi bi-download fs-6 ms-2"></i></a>
                    </div>
                    <h5 class="fw-semibold">Địa chỉ: </h5>
                    <p>{{transaction.shipping_address}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card mb-3">
                <div class="card-header fw-semibold fs-5">Khung chat</div>
                <div class="card-body overflow-auto" style="max-height: 500px;">
                    {{#each messages}}
                    {{#if (eq ../currentUser.user_id sender_id)}}
                    <div class="d-flex flex-row align-items-end justify-content-end mb-3">
                        <small class="text-muted">{{format_QAtime (convert_to_local sent_at)}}</small>
                        <div class="p-3 rounded-pill bg-primary">
                            <small class="text-white">{{message_text}}</small>
                        </div>
                    </div>
                    {{else}}
                    <div class="d-flex flex-row align-items-end justify-content-start mb-3">
                        <div class="p-3 rounded-pill bg-body-secondary">
                            <small>{{message_text}}</small>
                        </div>
                        <small class="text-muted">{{format_QAtime (convert_to_local sent_at)}}</small>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="card-footer text-muted">
                    <form id="formMsg" action="/transaction/{{transaction.product_id}}/message" method="post">
                        <div class="input-group">
                            <textarea class="form-control" id="msgTextArea" rows="2" name="msg"></textarea>
                            <input type="hidden" name="txn_id" value="{{transaction.transaction_id}}">
                            <input type="hidden" name="sender" value="{{currentUser.user_id}}">
                            {{#if transaction.is_canceled}}
                            <button type="" class="btn btn-primary" disabled><i class="bi bi-send"></i></button>
                            {{else}}
                            <button type="" class="btn btn-primary"><i class="bi bi-send"></i></button>
                            {{/if}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmCancel" tabindex="-1" aria-labelledby="confirmCancel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold fs-4">Xác nhận huỷ</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có muốn huỷ giao dịch này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                <button type="button" class="btn btn-primary" id="confirmCancelBtn">Có</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold fs-4">Đánh giá &amp; Nhận xét</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="reviewForm" action="/transaction/{{transaction.product_id}}/rating" method="post">
                    <fieldset class="row mb-3">
                        <legend class="col-form-label fw-semibold col-sm-3 pt-0">Đánh giá:</legend>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <label class="form-check-label" for="plus">(+1)</label>
                                <input class="form-check-input" type="radio" name="rating" value="1" id="plus" checked required>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="minus">(-1)</label>
                                <input class="form-check-input" type="radio" name="rating" value="-1" id="minus" required>
                            </div>
                        </div>
                    </fieldset>
                    <label for="comment" class="form-label fw-semibold">Nhận xét:</label>
                    <textarea class="form-control mb-3" id="comment" rows="3" name="comment" required></textarea>
                    <input type="hidden" name="sender" value="{{currentUser.user_id}}">
                    {{#if is_seller}}
                    <input type="hidden" name="receiver" value="{{transaction.buyer_id}}">
                    {{else}}
                    <input type="hidden" name="receiver" value="{{transaction.seller_id}}">    
                    {{/if}}
                    <div id="alertHolder"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="reviewForm">Gửi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold fs-4">Thanh toán giao dịch</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="paymentForm" action="/transaction/{{transaction.product_id}}/pay" method="post">
                    <h5 class="fw-semibold">Chi tiết thanh toán:</h5>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="cardNum" placeholder="Số thẻ" required>
                        <label for="cardNum">Số thẻ</label>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="expireDate" placeholder="Ngày hết hạn" required>
                                <label for="expireDate">Ngày hết hạn</label>
                                <div class="form-text">
                                    Định dạng: YYYY-MM-DD
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="cvvNum" placeholder="CVV (3 chữ số)" required>
                                <label for="cvvNum">CVV (3 chữ số)</label>
                            </div>
                        </div>
                    </div>
                    <label for="address" class="form-label fw-semibold h5">Địa chỉ giao hàng:</label>
                    <textarea class="form-control mb-3" id="address" rows="3" name="address" required></textarea>
                    <input type="hidden" name="txnId" value="{{transaction.transaction_id}}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="paymentForm">Thanh toán</button>
            </div>
        </div>
    </div>
</div>