<main>
  <div id="introSlide" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#introSlide" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#introSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#introSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption d-md-block text-start">
          <h2 class="text-uppercase">Đa dạng &amp; Phong phú</h2>
          <p class="mb-5 fs-5">Vô số sản phẩm hot với giá hời đang chờ đợi bạn</p>
        </div>
        <img src="/images/iphone.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-md-block text-start">
          <h2 class="text-uppercase">Trực quan &amp; Thân thiện</h2>
          <p class="mb-5 fs-5">Thao tác mua bán dễ dàng ngay tại website</p>
        </div>
        <img src="/images/shoe.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-md-block text-start">
          <h2 class="text-uppercase">An toàn &amp; nhanh chóng</h2>
          <p class="mb-5 fs-5">Giao dịch thuận tiện mà không mất nhiều thời gian</p>
        </div>
        <img src="/images/shake-hand.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#introSlide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#introSlide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-fluid">
    <h3 class="fw-bold mx-3 my-5">Sản phẩm sắp kết thúc</h3>
    <div class="container">
      <div class="row">
        {{#each dateList}}
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card p-2 mx-auto h-100 border-0" style="width: 18rem;">
            <img src="/images/item.jpg" class="card-img-top rounded-3" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{product_name}}</h5>
              <p class="card-text fw-bold">{{format_currency current_price}}</p>
              <p class="card-text">Bidder dẫn đầu: {{mask_name highest_bidder.full_name}}</p>
              <p class="card-text">Giá mua ngay: {{format_currency buy_now_price}}</p>
              <p class="card-text">Bắt đầu: {{format_datetime created_at}}</p>
              <p class="card-text">Kết thúc: {{format_endDatetime end_time}}</p>
              <p class="card-text">Lượt ra giá: {{bid_count}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <h3 class="fw-bold mx-3 my-5">Sản phẩm nhiều lượt ra giá nhất</h3>
    <div class="container">
      <div class="row">
        {{#each bidCountsList}}
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card p-2 mx-auto h-100 border-0" style="width: 18rem;">
            <img src="/images/item.jpg" class="card-img-top rounded-3" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{product_name}}</h5>
              <p class="card-text fw-bold">{{format_currency current_price}}</p>
              <p class="card-text">Bidder dẫn đầu: {{mask_name highest_bidder.full_name}}</p>
              <p class="card-text">Giá mua ngay: {{format_currency buy_now_price}}</p>
              <p class="card-text">Bắt đầu: {{format_datetime created_at}}</p>
              <p class="card-text">Kết thúc: {{format_endDatetime end_time}}</p>
              <p class="card-text">Lượt ra giá: {{bid_count}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <h3 class="fw-bold mx-3 my-5">Sản phẩm giá cao nhất</h3>
    <div class="container">
      <div class="row">
        {{#each priceList}}
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card p-2 mx-auto h-100 border-0" style="width: 18rem;">
            <img src="/images/item.jpg" class="card-img-top rounded-3" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{product_name}}</h5>
              <p class="card-text fw-bold">{{format_currency current_price}}</p>
              <p class="card-text">Bidder dẫn đầu: {{mask_name highest_bidder.full_name}}</p>
              <p class="card-text">Giá mua ngay: {{format_currency buy_now_price}}</p>
              <p class="card-text">Bắt đầu: {{format_datetime created_at}}</p>
              <p class="card-text">Kết thúc: {{format_endDatetime end_time}}</p>
              <p class="card-text">Lượt ra giá: {{bid_count}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</main>