<div class="modal fade" id="img1" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="/images/iphone.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="container-md my-5">
    <div class="row">
        <div class="col-md-7 mb-3 m-md-0">
            <div class="bg-body-secondary rounded mb-3" style="height: 500px;">
                <img src="/images/iphone.jpg" alt="" class="object-fit-contain h-100 w-100 p-5">
            </div>

            <div id="carouselId" class="carousel carousel-dark slide">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="row justify-content-center">
                            <div class="col-2" style="height: 100px;"><img src="/images/item.jpg"
                                    class="object-fit-contain h-100 w-100 d-block stretched-link" alt="First slide"
                                    data-bs-toggle="modal" data-bs-target="#img1" />
                            </div>
                            <div class="col-2" style="height: 100px;"><img src="/images/item.jpg"
                                    class="object-fit-contain h-100 w-100 d-block" alt="First slide" />
                            </div>
                            <div class="col-2" style="height: 100px;"><img src="/images/item.jpg"
                                    class="object-fit-contain h-100 w-100 d-block" alt="First slide" />
                            </div>
                            <div class="col-2" style="height: 100px;"><img src="/images/item.jpg"
                                    class="object-fit-contain h-100 w-100 d-block" alt="First slide" />
                            </div>
                            <div class="col-2" style="height: 100px;"><img src="/images/item.jpg"
                                    class="object-fit-contain h-100 w-100 d-block" alt="First slide" />
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <div class="col-2" style="height: 100px;"><img src="/images/item.jpg"
                                    class="object-fit-contain h-100 w-100 d-block" alt="First slide" />
                            </div>
                            <div class="col-2" style="height: 100px;"><img src="/images/item.jpg"
                                    class="object-fit-contain h-100 w-100 d-block" alt="First slide" />
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="col-md-5">
            <h5 class="fw-bold">TEN SAN PHAM</h5>
            <hr>
            <div class="row">
                <div class="col-5">
                    <h6 class="fw-bold">Seller: jim-123<small class="text-muted">(17)</small></h6>
                    <p class="text-decoration-underline ps-2">100% danh gia tich cuc</p>
                </div>
                <div class="col-1">
                    <div class="vr" style="height: 100%;"></div>
                </div>
                <div class="col-5">
                    <h6 class="fw-bold">Bidder dẫn đầu: ****Khoa<small class="text-muted">(3)</small></h6>
                    <p class="text-decoration-underline ps-2">100% danh gia tich cuc</p>
                </div>
            </div>
            <hr>

            <h4>Gia hien tai: <span class="fw-bold">{{format_currency 10000000}}</span></h4>
            <p>Ngay mo ban: </p>
            <p class="text-danger">Thoi diem ket thuc: </p>
            <h4>Gia mua ngay: <span class="fw-bold">{{format_currency 10000000}}</span></h4>
            <hr>
        </div>
    </div>

    <div class="container-fluid border mt-5">
        <h3 class="fw-bold">Mo ta</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, nobis? Sunt ut quae quibusdam. Repudiandae error
        placeat quasi incidunt aspernatur aut perferendis possimus, sunt ratione rem autem iure? Aperiam, ipsum.
        Asperiores, perspiciatis debitis cumque repellat magni eligendi velit, illo corporis expedita est, odit
        consequatur soluta quisquam ad eius suscipit cupiditate eos. Suscipit impedit voluptatem pariatur repellat
        officia saepe, iure nihil!
        Minus dignissimos, fuga eum error quod numquam tempore voluptate hic explicabo animi autem dolorem ratione illum
        expedita sed a omnis deserunt, libero nemo modi odit distinctio maiores dolor dolores? Fugit?
        Explicabo qui architecto libero magni! Voluptatibus quod asperiores adipisci laboriosam excepturi rerum autem
        nihil aliquam nesciunt, ipsam, deleniti eaque sint ad corrupti repellat. Commodi corporis tenetur quo fugit
        assumenda magnam.
        Cupiditate deserunt ex soluta nam quaerat laudantium quidem impedit velit quod dolorum at ut maxime doloremque
        officia libero, cum deleniti pariatur. Quibusdam blanditiis eveniet porro incidunt illo consequatur commodi
        dolores.
    </div>
</div>

<div class="container-fluid">
    <h1 class="fw-bold">Binh luan</h1>
    <div class="container-fluid mb-5">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-flex flex-start mb-4">
                    <img class="rounded-circle shadow-1-strong me-3" src="/icons/person-circle.svg" alt="avatar"
                        width="32" height="32" />
                    <div class="flex-grow-1 flex-shrink-1">
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1">
                                    Maria Smantha <span class="small">- 2 hours ago</span>
                                </p>
                                <a class="link-underline link-underline-opacity-0" href="#!"><i
                                        class="bi bi-reply"></i><span class="small">
                                        reply</span></a>
                            </div>
                            <p class="small mb-0">
                                It is a long established fact that a reader will be distracted by
                                the readable content of a page.
                            </p>
                        </div>

                        <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                                <img class="rounded-circle shadow-1-strong me-3" src="/icons/person-circle.svg"
                                    alt="avatar" width="32" height="32" />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-1">
                                            Simona Disa <span class="small">- 3 hours ago</span>
                                        </p>
                                    </div>
                                    <p class="small mb-0">
                                        letters, as opposed to using 'Content here, content here',
                                        making it look like readable English.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                                <img class="rounded-circle shadow-1-strong me-3" src="/icons/person-circle.svg"
                                    alt="avatar" width="32" height="32" />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-1">
                                            John Smith <span class="small">- 4 hours ago</span>
                                        </p>
                                    </div>
                                    <p class="small mb-0">
                                        the majority have suffered alteration in some form, by
                                        injected humour, or randomised words.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-start mb-4">
                    <img class="rounded-circle shadow-1-strong me-3" src="/icons/person-circle.svg" alt="avatar"
                        width="32" height="32" />
                    <div class="flex-grow-1 flex-shrink-1">
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1">
                                    Natalie Smith <span class="small">- 2 hours ago</span>
                                </p>
                                <a class="link-underline link-underline-opacity-0" href="#!"><i
                                        class="bi bi-reply"></i><span class="small">
                                        reply</span></a>
                            </div>
                            <p class="small mb-0">
                                The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those interested. Sections 1.10.32 and
                                1.10.33.
                            </p>
                        </div>

                        <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                                <img class="rounded-circle shadow-1-strong me-3" src="/icons/person-circle.svg"
                                    alt="avatar" width="32" height="32" />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-1">
                                            Lisa Cudrow <span class="small">- 4 hours ago</span>
                                        </p>
                                    </div>
                                    <p class="small mb-0">
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                        scelerisque ante sollicitudin commodo. Cras purus odio,
                                        vestibulum in vulputate at, tempus viverra turpis.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                                <img class="rounded-circle shadow-1-strong me-3" src="/icons/person-circle.svg"
                                    alt="avatar" width="32" height="32" />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-1">
                                            Maggie McLoan <span class="small">- 5 hours ago</span>
                                        </p>
                                    </div>
                                    <p class="small mb-0">
                                        a Latin professor at Hampden-Sydney College in Virginia,
                                        looked up one of the more obscure Latin words, consectetur
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                                <img class="rounded-circle shadow-1-strong me-3" src="/icons/person-circle.svg"
                                    alt="avatar" width="32" height="32" />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-1">
                                            John Smith <span class="small">- 6 hours ago</span>
                                        </p>
                                    </div>
                                    <p class="small mb-0">
                                        Autem, totam debitis suscipit saepe sapiente magnam officiis
                                        quaerat necessitatibus odio assumenda, perferendis quae iusto
                                        labore laboriosam minima numquam impedit quam dolorem!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <h1 class="fw-bold">Cac san pham khac</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="card p-2 h-100 border-0">
                    <img src="/images/item.jpg" class="img-fluid rounded-3" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Ten san pham</h5>
                        <p class="card-text fw-bold">{{format_currency 10000000}}</p>
                        <p class="card-text">Thong tin bidder</p>
                        <p class="card-text">Gia mua ngay</p>
                        <p class="card-text">Ngay dang</p>
                        <p class="card-text">Thoi gian con lai</p>
                        <p class="card-text">So luot ra gia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card p-2 h-100 border-0">
                    <img src="/images/item.jpg" class="img-fluid rounded-3" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Ten san pham</h5>
                        <p class="card-text fw-bold">{{format_currency 10000000}}</p>
                        <p class="card-text">Thong tin bidder</p>
                        <p class="card-text">Gia mua ngay</p>
                        <p class="card-text">Ngay dang</p>
                        <p class="card-text">Thoi gian con lai</p>
                        <p class="card-text">So luot ra gia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card p-2 h-100 border-0">
                    <img src="/images/item.jpg" class="img-fluid rounded-3" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Ten san pham</h5>
                        <p class="card-text fw-bold">{{format_currency 10000000}}</p>
                        <p class="card-text">Thong tin bidder</p>
                        <p class="card-text">Gia mua ngay</p>
                        <p class="card-text">Ngay dang</p>
                        <p class="card-text">Thoi gian con lai</p>
                        <p class="card-text">So luot ra gia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card p-2 h-100 border-0">
                    <img src="/images/item.jpg" class="img-fluid rounded-3" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Ten san pham</h5>
                        <p class="card-text fw-bold">{{format_currency 10000000}}</p>
                        <p class="card-text">Thong tin bidder</p>
                        <p class="card-text">Gia mua ngay</p>
                        <p class="card-text">Ngay dang</p>
                        <p class="card-text">Thoi gian con lai</p>
                        <p class="card-text">So luot ra gia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 me-md-5">
                <div class="card p-2 h-100 border-0 text-nowrap">
                    <img src="/images/item.jpg" class="img-fluid rounded-3" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Ten san pham</h5>
                        <p class="card-text fw-bold">{{format_currency 10000000}}</p>
                        <p class="card-text">Thong tin bidder</p>
                        <p class="card-text">Gia mua ngay</p>
                        <p class="card-text">Ngay dang</p>
                        <p class="card-text">Thoi gian con lai</p>
                        <p class="card-text">So luot ra gia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>